body{
	background-color: #f3f3f3;
}
.flex-center{
	max-width:1200px;
	margin:0 auto;
}

.flex-control-paging li a{
	background: #ff7271;
	background: rgba(197,197,197,1);
}
.flex-control-paging li a:hover { background: #ff7271; background: rgba(255,114,113,1); }
.flex-control-paging li a.flex-active { background: #ff7271; background: rgba(255,114,113,1);cursor: default; }

.flex-direction-nav .flex-prev {left: -50px;background-position:0 0;}
.flex-direction-nav .flex-next { right: -50px; background-position:-132px 0}

.flexslider { margin:0; background: #f3f3f3; border: none; }

.flex-direction-nav .flex-prev { left: -150px; background-position:0 0 }
.flex-direction-nav .flex-next { right: -150px; background-position:-132px 0}